{% extends'base.html.twig' %}

{% block title 'Nos biens' %}

{% block body %}
    <div class="container text-center mt-4">
        <h1>Nos biens : </h1>
        <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi iusto saepe tenetur!
            Ab consequuntur dolores eaque facere in iste laboriosam officia quibusdam, recusandae ut. Ad explicabo modi nobis quis voluptate.</p>

    </div>
{% endblock %}